{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Dolorem hic illo quisquam rem.</li>
<li>Accusamus eius exercitationem quibusdam voluptate.</li>
<li>Eos est facere fugiat mollitia.</li>
<li>Doloribus exercitationem magnam natus saepe?</li>
<li>Eius expedita fugiat libero voluptas?</li>
<li>Enim id modi nisi quam?</li>
<li>Debitis quam repudiandae totam ut?</li>
<li>Beatae cupiditate facere minima repellat.</li>
<li>Cumque expedita possimus quidem voluptate.</li>
<li>Asperiores commodi inventore itaque quas.</li>
<li>Commodi corporis eius fugit sequi!</li>
<li>Eligendi nobis repudiandae similique sunt.</li>
<li>Exercitationem numquam quia temporibus voluptatibus?</li>
<li>Amet cumque doloremque mollitia voluptas!</li>
<li>Cupiditate quasi quos repellendus reprehenderit.</li>
<li>Fuga officia qui quod veritatis!</li>
<li>Deserunt fuga fugiat illo ipsa?</li>
<li>Eaque enim facilis quos repudiandae.</li>
<li>Aut dolorum eaque nemo voluptate.</li>
<li>Dolorem exercitationem laudantium vitae? Consequuntur!</li>
<li>Culpa cumque molestias nesciunt saepe.</li>
<li>Esse laudantium ratione reiciendis voluptatum.</li>
<li>Consequatur possimus quibusdam suscipit voluptates.</li>
<li>Blanditiis iusto minus optio ratione.</li>
<li>Cumque cupiditate dolore neque voluptate.</li>
<li>Aperiam aspernatur eius maxime quaerat.</li>
<li>Aliquam obcaecati provident saepe veritatis.</li>
<li>Commodi eligendi mollitia placeat provident?</li>
<li>Aut delectus pariatur quisquam velit.</li>
<li>Earum expedita quam velit veritatis.</li>
<li>Alias dolores enim nam vero!</li>
<li>Dolores incidunt nisi nulla officiis.</li>
<li>Alias corporis explicabo maiores! Facere.</li>
<li>At eveniet in incidunt sit.</li>
<li>Architecto autem consequuntur incidunt quia.</li>
<li>Aliquid ex optio pariatur rem?</li>
<li>A accusamus doloremque modi quia?</li>
<li>Hic quasi quia ratione temporibus.</li>
<li>Consectetur cupiditate eius quis ut.</li>
<li>Culpa enim quam similique voluptatum!</li>
<li>Ad cupiditate itaque officia placeat.</li>
<li>Dolor id impedit sunt suscipit.</li>
<li>Dolorem doloribus illum mollitia tempora.</li>
<li>Doloribus quaerat tempore tenetur voluptatem.</li>
<li>Autem dicta eligendi iusto omnis?</li>
<li>Minima minus nesciunt non suscipit.</li>
<li>Dicta distinctio magni nesciunt quidem.</li>
<li>Ad ducimus enim repudiandae voluptates.</li>
<li>Ad facere rem sed velit.</li>
<li>Debitis illo nobis rerum veniam?</li>
<li>Earum explicabo impedit inventore odit.</li>
<li>Ab atque ex hic quibusdam!</li>
<li>Incidunt itaque non saepe totam?</li>
<li>Accusamus blanditiis laudantium reiciendis similique.</li>
<li>Ea excepturi porro quae voluptatibus!</li>
<li>Ad amet magnam nesciunt repellendus.</li>
<li>Architecto assumenda dolorum quisquam similique.</li>
<li>Animi est neque nisi provident.</li>
<li>Blanditiis dignissimos laboriosam obcaecati reprehenderit?</li>
<li>Fuga fugit maiores velit voluptate?</li>
<li>Aspernatur consequuntur expedita nihil voluptas.</li>
<li>A aut delectus fuga nemo?</li>
<li>Commodi nostrum similique sint sunt.</li>
<li>Assumenda culpa debitis perferendis voluptatum!</li>
<li>Dolor fuga libero quisquam veritatis!</li>
<li>Consequatur nam quod similique ullam.</li>
<li>Ab impedit ipsam libero nihil.</li>
<li>Dolor dolorum fuga perspiciatis veniam!</li>
<li>Consectetur dicta est nam suscipit.</li>
{% endblock %}